@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Work+Sans:wght@400;800&display=swap');

* {
    margin: O;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    background-image: url('list.jpeg');
    opacity: 0.8;
    display: flex;
    justify-content: center;
    margin-top: 9rem;
}

section {
    background-color: white;
    border-radius: 8px;
    width: 450px;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.full-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    border: 1px solid ;
    width: 90%;
    height: 20px;
    padding: 10px 5px;
    outline: 0;
}

button {
    height: 20px;
    width: 5%;
    background-color: rgb(68, 178, 225);
    color: bisque;
    border: 1px;
}